<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Users</title>
</head>
<body>
<div th:if="${session.loggedInUser.class.simpleName == 'Admin'}">
<h1>All Users</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Type</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.login}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.class.simpleName}"></td>
    <td>
      <a th:href="@{/users/edit/{id}(id=${user.id})}">
        <button type="button">Edit</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<br/>
</div>
<a th:href="@{/}">
  <button type="button">Return to Home</button>
</a>
<a href="/users/logout">Logout</a>

</body>
</html>
